*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{    
    --red: #d60018;
    --white: #fafcf8;
    --blue: #0a4d84;
    --lightblue: #a7afad46;
    --biege: #c59533;
    --accentblue: #0a4d8410;
    --accentbiege: #e7d4ae;
}

/* Google Font Dancing Script */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700*/
.dancing-script-h2 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* Google Font Montserrat */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900*/
.montserrat-font{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
body{
    background-color: var(--white);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 1rem;
    line-height: 1;
}
h2{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 1.2;
    color: var(--biege);
    padding-bottom: 1rem;
}
p{
    font-size: 1.4rem;
    line-height: 1.2;
    padding-bottom: 1rem;
}
img{
    max-width: 100%;
    object-fit: contain;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
    flex-wrap: wrap;
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}
.flex-item{
    flex: 1;
}
.flex-400{
    flex: 1 1 400px;
}
.extra{
    flex: .5;
}
.flex-start{
    justify-content: flex-start;
    gap: 2rem;;
}
.flex-center{
    justify-content: center;
}
.min-width{
    min-width: 400px;
}
.block{
    display: block;
}
.h2-angle{
    transform: rotate(-10deg) skew(-191deg);
    translate: -1rem -2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.flex-wrap{
    flex-wrap: wrap;
}
.left{
    text-align: left;
    justify-content: left;
}
.center{
    text-align: center;
}
section{
    padding: 2rem 0;
}
.capitalize{
    text-transform: capitalize;
}
/* Card Layout */
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    width: 350px;
    background-color: var(--accentblue);
    border-radius: 20px;
}
.card p{
    padding-bottom: 3rem;
}
.card i{
    border: 1px solid black;
    border-radius: 50%;
    font-size: 36px;
    color: black;
    height: 60px;
    width: 60px;
    align-self: center;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Header / Navbar */
header{
    background-color: var(--blue);
    padding: 1rem 0;
}
.header-container{
    justify-content: space-between;
    flex-wrap: nowrap;
}
.logo-div{
    flex: 0 1 400px;
}
.logo{
    min-width: 200px;
}
.nav{
    display: flex;
    gap: 1rem;
    flex: end;
}
.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    color: var(--white);
    font-size: 1.5rem;
}
.nav a, .footer-nav a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    white-space: nowrap;
    transition: .3s ease-in-out;
}
.nav li:hover, .footer-nav li:hover{
    transition: .3s ease-in-out;
}
#nav li:hover, .footer-nav li:hover{
    transform: scale(1.2);
}
.navlink-active{
    transform: scale(1.2);
    font-weight: bold;
}
.closebtn{
    display: none;
}
.action-btn{
    background-color: var(--red);
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
    margin: 1rem;
}
.icon{
    display: none;
}
.mobile-nav{
    display: none;
}
#scrollToTop{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--white);
    font-size: 1.5rem;
    text-decoration: none;
    font-size: large;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
    display: none;
}
.arrow{
    padding: 2rem;
    color: var(--white);
    font-size: 36px;
}
#footer{
    background-color: var(--blue);
    color: var(--white);
    justify-content: space-between;
    align-items: start;
}
#footer-col-one{
    justify-content: space-between;
    padding: 1rem;
    flex: 1 1 400px;
}
#footer-logo{
    min-width: 400px;
}
#footer-col-one a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    white-space: nowrap;
}
#footer-logo img{
    max-width: 400px;
    object-fit: contain;
}
#footer-address{
    text-align: left;
}
#footer-address h3{
    padding: .5rem 0;
    font-size: 1.7rem;
}
#footer-col-two{
    padding: 1rem;
    flex: 1 1 400px;
}
#footer-col-three{
    padding: 1rem;
    flex: 1 1 400px;
}
#footer-socials{
    color: var(--white);
    font-size: 36px;
}
#footer-copyright{
    width: 100%;
}
/* Media Querys */
@media screen and (max-width: 900px) {
    .nav{
        display: none;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        text-align: center;
        flex-wrap: wrap;
        padding: 2rem 0;
    }
    .icon{
        display: flex;
        color: var(--white);
        font-size: 2rem;
        cursor: pointer;
    }
    .mobile-nav{
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: var(--blue); /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      .mobile-nav a {
        padding: 8px;
        text-decoration: none;
        font-size: 25px;
        color: var(--white);
        display: block;
        transition: 0.3s;
      }
      .mobile-nav a:hover {
        transform: scale(1.2);
      }
      .mobile-nav .closebtn {
        font-size: 36px;
        text-align: right;
      }

    
}