#hero{
    background-image: url(../images/lori-different.jpg);
    background-position: 35% 35%;
    object-fit: contain;
    min-height: 700px;
    padding: 2rem;
}
.hero-container{
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.468);
    max-width:fit-content;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
}
.hero-container h1{
    color: var(--white);
}
#system img{
    min-width: 400;
    max-height: 600px;
}
#work-together-text{
    text-align: center;
}
#quote{
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/lori-different.jpg);
    background-attachment: fixed;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
}
.quote-container{
    text-align: center;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 700;
    white-space: nowrap;
    max-width: 800px;
    height: 500px;
}
.quote-heading{
    color: var(--white)
}
#quote blockquote{
    max-width: 800px;
    text-wrap: wrap;
    line-height: 1.9rem;
}
.cover-image h2{
    color: var(--white);
}
#advice{
    background-color: var(--accentblue);
}
#advice-img{
    min-width: 400px;
    object-fit: contain;
}