/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;

}
:root{
    --red: #d60018;
    --white: #fafcf8;
    --blue: #0a4d84;
    --lightblue: #a7afad;
    --biege: #f6cb74;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* Header / Navbar */

header{
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.container{
    width: 80%;
    padding: 3rem;
}
#logo{
    width: 400px;
    padding: 1rem;
}
#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.navlink{
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
}
.navlink-active{
    color: var(--white);
    font-weight: bold;
    transform: scale(1.2);
}
.navlink:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
.action-btn{
    background-color: var(--red);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    text-decoration: none;
}
#mobilemenu{
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    height: 100vw;
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
}
#mobilemenu-icon{
    display: none;
}
#mobilemenu-icon:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
/* Phones */

@media only screen and (min-width: 480px){
#navbar{
    display: none;
}
#logo{
    width: 200px;
}

#mobilemenu-icon{
    display: flex;
}
}

/* Tablets */


@media only screen and (min-width: 935px){
    #navbar{
        display: none;
    }
    #logo{
        width: 300px;
    }
    #mobilemenu-icon{
        display: flex;
        
    }

}

/* Desktops */

@media only screen and (min-width: 900px){
#navbar{
    display: flex;
}
#logo{
    width: 400px;
}
#mobilemenu-icon{
    display: none;
}
}

/* Large Desktops */