/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{    
    --red: #d60018;
    --white: #fafcf8;
    --blue: #0a4d84;
    --lightblue: #a7afad46;
    --biege: #c59533;
    --accentblue: #0a4d8410;
    --accentbiege: #e7d4ae;
}
h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    line-height: .8;
    padding-bottom: 1rem;
}
h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: var(--biege);
    padding-bottom: 1rem;
}
p{
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    line-height: 1.7;
    padding-bottom: 1rem;
}
img{
    max-width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
    flex-wrap: wrap;
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}
.flex-item{
    flex: 1;
}
.flex-start{
    justify-content: flex-start;
    gap: 2rem;;
}
.flex-center{
    justify-content: center;
}
.min-width{
    min-width: 400px;
}
.block{
    display: block;
}
.h2-angle{
    transform: rotate(-15deg) skew(-191deg);
    translate: -2rem -3.5rem;
}
.flex-wrap{
    flex-wrap: wrap;
}
.left{
    text-align: left;
    justify-content: left;
}
.center{
    text-align: center;
}
section{
    padding: 2rem 0;
}
/* Header / Navbar */
header{
    background-color: var(--blue);
    padding: 1rem 0;
}
.header-container{
    justify-content: space-between;
}
.logo{
    width: 300px;
}
.nav{
    display: flex;
    flex: end;
    gap: 1rem;
}
.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    color: var(--white);
    font-size: 1.5rem;
}
.navlink{
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    white-space: nowrap;
    transition: .3s ease-in-out;
}
.navlink:hover{
    transform: scale(1.2);
}
.navlink-active{
    transform: scale(1.2);
    font-style: bold;
}
.action-btn{
    background-color: var(--red);
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
}
#mobilemenu{
    display: none;
    background-color: var(--blue);
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    height: 100vw;
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
}
#mobilemenu-icon{
    display: none;
}
#mobilemenu-icon:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
/* Hero Section */
#hero{
    background-image: url(/images/lori-different.jpg);
    background-position: 35% 35%;
    object-fit: contain;
    min-height: 600px;
    padding: 2rem;
}
.hero-text{
    text-align: center;
    color: var(--white);
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    padding: 2rem;
    flex: .8;
}
/* Statement Section */
.statement-text{
    text-align: center;
}

/* Different section */
#different{
    background-color: var(--lightblue);
}
.different-img{
    object-fit: contain;
    min-width: 400px;
}
/* Quote section */
#quote{
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./images/lori-different.jpg);
    background-attachment: fixed;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
}
.quote-container{
    text-align: center;
    padding: 5rem;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 700;
    white-space: nowrap;
}
.quote-heading{
    color: var(--white)
}
#quote blockquote{
    max-width: 800px;
    text-wrap: wrap;
    line-height: 1.9rem;
}
.cover-image h2{
    color: var(--white);
}
/* Brand Promises section */
#bp-img{
    object-fit: contain;
    min-width: 400px;
}
.accordian{
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    border-bottom: 1px solid var(--white);
}
.active,.accordion:hover{
    background-color: var(--biege);
}
.accordian-content{
    padding: 0 18px;
    background-color: var(--white);
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-in-out;
}
/* Advice Section */
#advice{
    background-color: var(--accentblue);
}
.advice-img{
    object-fit: contain;
    min-width: 400px;
}
/* Work Together section */
.card p{
    padding-bottom: 3rem;
}
#work-together-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    width: 350px;
    background-color: var(--accentblue);
    border-radius: 20px;
}
/* Bio Section */
.bio-img{
    object-fit: contain;
    min-width: 400px;
}
/* Locations Section */
.towns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.gallery{
    background-image: url(./images/pexels-yuraforrat-20823497.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 450px;
    content: ' ';
    color: var(--white);
    justify-content: center;
    box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.397);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}
#scrollToTop{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--white);
    font-size: 1.5rem;
    text-decoration: none;
    font-size: large;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
    display: none;
}
.arrow{
    padding: 2rem;
}
#footer{
    background-color: var(--blue);
    color: var(--white);
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
/* Media Querys */
@media screen and (max-width: 900px) {
    .nav{
        display: none;
    }
    
}